@font-face {
    font-family: "Paris";
    src: url("/public/fonts/Paris2024/Paris2024-Variable.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Paris", sans-serif;
}

body {
    background: url("/public/images/bg.png") no-repeat fixed center;
    background-size: cover;
}

.home, .countries, .country__buttons, .disciplines {
    padding: 20px 50px;
}

.home__frame {
    margin: 40px 0;
}

.home__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__buttons .button {
    margin: 10px 0;
}

.title h1 {
    font-size: 42px;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.button img {
    width: 40px;
}

.countries, .disciplines {
    padding-top: 0;
}

.countries .button, .disciplines .button {
    margin: 5px;
}

.country__img {
    text-align: center;
}

.country .title > h1 {
    margin-bottom: 10px;
}

.country {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 22px;
}

td {
    color: white;
    padding: 10px;
}

thead td {
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

thead td:last-child {
    border-right: 1px solid white;
}

tbody td {
    border-left: 1px solid white;
    text-align: center;
}

tbody td:last-child {
    border-right: 1px solid white;
}

.country__buttons {
    width: 100%;
}

.country__buttons .button {
    margin: 5px 0;
}

.country table {
    margin: 20px 0;
}

.medals {
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin: 20px 0;
}

.medals h1 {
    font-size: 90px;
    margin: 0;
    padding: 0;
    line-height: 86%;
}

.countMedals table {
    width: 100%;
}

.table_wrap {
    padding: 0 20px;
}

.center {
    text-align: center !important;
}

.left {
    text-align: left !important;
}

.discipline__img {
    text-align: center;
}

.discipline__img img {
    width: 140px;
}

.title {
    text-transform: uppercase
}

.discipline .title:first-child > h1 {
    margin-bottom: 20px;
    margin-top: 0;
}

.discipline .title > h1 {
    margin-bottom: 10px;
    margin-top: 20px;
}

.discipline table {
    width: 100%;
}

a {
    color: white;
}