.button {
    background: #ffffff47;
    border-radius: 17px;
    padding: 7px 10px;
    width: 100%;
    border: 2px solid white;
    cursor: pointer;
    display: flex
;
    align-items: center;
    gap: 3%;
    color: white;
    text-decoration: none;
    font-size: 22px;
}