:root {
    --blue: #002395;
    --red: #ed2939;
    --white-blue: #d5e2f0;
    --gray: #474747;
    --gray-dark: #333333;
    --gray-light: #888888;
}

@font-face {
    font-family: 'Paris';
    src: url('./media/05-fonts/Paris2024/Paris2024-Variable.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('./media/05-fonts/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.f-poppins {
    font-family: 'Poppins', serif;
}

.f-paris {
    font-family: 'Paris', serif;
}

body {
    scroll-behavior: smooth;
}

.section {

}

.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    overflow: hidden;
}

.header__links {
    display: flex;
    align-items: stretch;
    flex: 1;
    justify-content: center;
}

.header__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    text-decoration: none;
    color: var(--gray-dark);
    position: relative;
    z-index: 1;
}

.header__link::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    transform: skewX(-30deg);
    z-index: -1;
    border-left: 4px solid #71a3d5;
    border-right: 4px solid #71a3d5;
}

.header__logo {
    padding: 1.2%;
    display: flex;
    align-items: center;
}

#games {
    background: url("./media/03-images/hero-lg.png") no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1% 1% 0;
    clip-path: polygon(0% 0%, 0% 100%, 100% 90%, 100% 0%);
}

.games__top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    color: white;
}

.games__top--title {
    text-align: end;
}

.games__top--title h1 {
    font-size: 4.8em;
}

.games__top--title h2 {
    font-size: 3.8em;
    opacity: .8;
}

.games__top--logo {
    padding-right: 3%;
    margin-top: 2%;
}

.games__bottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.games__slider {
    position: absolute;
    display: flex;
    gap: 10%;
    padding-top: 10%;
}

.games__mascot {
    width: 100%;
    padding-left: 6.2%;
}

.games__slider ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background: rgb(0 0 0 / 55%);
    padding: 0 60px;
    border-radius: 4px;
}

.games__slider ul > li {
    cursor: pointer;
}

.games__slider ul > li:not(:first-child) {
    opacity: .7;
}

.games__slider li::before {
    content: '';
    display: inline-block;
    background: white;
    color: white;
    width: 20px;
    border-radius: 50%;
    vertical-align: center;
    text-align: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.section__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section__title h1 {
    font-size: 4em;
    font-weight: 800;
    background: linear-gradient(90deg, var(--red) 0%, #4a005c 50%, var(--blue) 100%, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Paris", serif;
}

.title__lines {
    width: 100%;
}

#countdown {
    clip-path: polygon(0 12%, 0 100%, 100% 90%, 100% 0);
    padding: 6% 0;
}

#countdown .title__lines {
    padding-left: 34vw;
}

.countdown__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4% 0;
    font-family: "Poppins", serif;
    color: var(--gray-dark);
}

.countdown__info p:nth-child(1) {
    font-size: 22px;
}

.countdown__info p:nth-child(2) {
    color: var(--gray-light);
}

.countdown__counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown__counter--logo {
    position: absolute;
    right: 4%;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--gray-dark);
    font-family: "Paris", serif;
}

.counter__box h1 {
    font-size: 5em;
}

.counter__box p {
    font-size: 20px;
    color: var(--gray-light);
}

.counter span {
    font-size: 6em;
    margin: 0 1%;
    color: var(--gray-light);
}

#road {
    background: var(--white-blue);
    clip-path: polygon(0 10%, 0 100%, 100% 90%, 100% 0);
    padding-bottom: 5%;
}

#road .title__lines {
    padding-left: 47.1vw;
}

.section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4%;
}

.section__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.section__card {
    width: 24%;
    background: white;
    border-radius: 4px;
}

.section__card--img_wrapper {
    overflow: hidden;
    max-height: 160px;
}

.section__card img {
    width: 100%;
}

.text {
    padding: 2% 4%;
}

.text h1 {
    font-family: "Paris", serif;
}

.text p {
    color: var(--gray);
}

.text span {
    color: var(--gray-dark);
    font-size: 18px;
}

#road .text > p {
    margin: 3% 0;
}

.road__title {
    padding: 5% 0 9%
}

.section__navigation {
    width: 100%;
    text-align: end;
    margin: 2% 0;
}

.section__navigation--wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1%;
}

.navigation__btn {
    cursor: pointer;
    border-radius: 4px;
}

.navigation__btn:hover {
    background: rgba(0, 0, 0, 0.24);
}

.section__card img {
    cursor: pointer;
    transition: all .3s ease;
}

.section__card:hover > .section__card--img_wrapper > img {
    transform: scale(1.1);
}

#about .title__lines {
    padding-left: 30vw;
}

.about__card {
    background: var(--white-blue);
}

.about__card--title {
    background: var(--red);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    font-family: "Paris", serif;
    padding: 2% 4%;
}

.about__card--title h1 {
    font-weight: 100;
}

.about__logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 0;
}

.about__title {
    margin-bottom: 6%;
}

#shop {
    background: var(--white-blue);
    clip-path: polygon(0 10%, 0 100%, 100% 90%, 100% 0);
    padding-bottom: 7%;
}

#shop .title__lines {
    padding-left: 49.7vw;
}

#shop .text {
    padding: 0;
}

.shop__card {
    padding: 20px;
}

.shop__card--price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Paris", serif;
}

.shop__card--price button {
    padding: 4% 15%;
    border: none;
    background: var(--gray-dark);
    color: white;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: all .2s ease;
    font-family: "Paris", serif;
}

.shop__card--price button:hover {
    background: var(--gray);
}

#shop .text > h1 {
    margin: 5% 0;
}

.shop__card--price p {
    font-size: 2em;
    font-weight: 700;
    color: var(--gray-light);
}

.shop__more {
    width: 100%;
    text-align: end;
    font-size: 20px;
    margin-bottom: 2%;
}

.shop__more a {
    color: var(--gray-dark);
    font-weight: 700;
    font-family: "Poppins", serif;
}

.shop__title {
    padding: 5% 0;
}

#partners .title__lines {
    padding-left: 23vw;
}

.partners__content {
    padding: 0 6%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.partners__card {
    width: 20%;
    cursor: pointer;
    text-align: center;
    margin: 2% 0;
    transition: all .2s ease;
}

.partners__card:hover {
    transform: translateY(-3px);
}

.partners__title {
    margin: 5% 0;
}

.footer {
    background: linear-gradient(90deg, var(--gray) 50%, var(--gray-dark) 50%);
    padding-top: 5%;
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__link {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
    font-size: 20px;
    padding-right: 15%;
}

.footer__link p {
    font-family: "Poppins", serif;
    margin-bottom: 5%;
}

.footer__link img {
    cursor: pointer;
}

.footer__logo {
    text-align: center;
    margin: 5% 0;
}

.footer__copyright {
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: "Poppins", serif;
}

/* desktop */
@media (min-width: 1025px) {
.desktop {
    position: relative!important;
    visibility: visible!important;
}

.mobile, .tablet {
    visibility: hidden;
    position: absolute;
}
}

/* tablet */
@media (max-width: 1024px) and (min-width: 801px) {
    .desktop, .mobile {
        position: absolute;
        visibility: hidden;
    }

    .tablet {
        position: relative !important;
        visibility: visible !important;
    }

    .header__links {
        justify-content: end;
        padding-right: 2%;
    }

    .games__slider {
        gap: 4%!important;
    }
    .countdown__counter {
        flex-direction: column;
    }
    .countdown__counter--logo {
        position: relative;
        right: 0;
    }
    .section__card {
        width: 40%;
    }
    .section__cards {
        justify-content: space-evenly;
    }

    .section__navigation, .shop__more {
        margin-right: 12.3vw;
    }
    .partners__card {
        width: 33%;
    }
    .partners__navigation {
        display: flex
    ;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .partners__navigation--wrapper {
        gap: 8%;
    }
    .header__links::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20%;
        width: 100%;
        background-color: white;
        transform: skewX(-30deg);
        z-index: -1;
        border-left: 4px solid #71a3d5;
        border-right: 4px solid #71a3d5;
    }
}


/* mobile */
@media (max-width: 800px) {
    .mobile {
        position: relative !important;
        visibility: visible !important;
    }

    .desktop, .tablet {
        position: absolute;
        visibility: hidden;
    }

    .header__links {
        justify-content: end;
        padding-right: 2%;
    }

    .games__top--title {
        display: flex
    ;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .games__top--logo {
        width: 100%;
        text-align: center;
    }
    .games__slider ul {
        display: none;
    }

    .games__slider {
        position: absolute;
        display: flex
    ;
         gap: 0;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        top: 40%;
        padding: 10% 2% 0;
    }
    .countdown__counter {
        flex-direction: column;
    }
    .countdown__counter--logo {
        position: relative;
        right: 0;
    }
    .section__title {
        padding-top: 2%;
        text-align: center;
        font-size: 14px;
    }
    .counter__box h1 {
        font-size: 4em;
    }
    .road__title {
        padding-top: 10%;
    }
    .section__card {
        width: 100%;
    }
    .shop__title {
        padding-top: 12%;
    }
    .partners__title {
        font-size: 12px;
    }
    .partners__card {
        width: 50%;
    }
    .section__navigation--wrapper {
        justify-content: space-between;
    }
    .partners__navigation--wrapper {
        padding: 0 6%;
    }
    .section__navigation {
        padding-bottom: 10%;
    }
    .footer {
        background: var(--gray-dark);
    }
    .footer__links {
        flex-direction: column;
        padding: 12% 15% 7%;
        align-items: start;
    }
    .footer__link {
        padding: 0;
    }
    .footer__link:first-child {
        margin-bottom: 12%;
    }
    .games__top--title h1 {
        font-size: 36px;
    }
    .games__top--title h2 {
        font-size: 30px;
    }
    .games__mascot {
        padding: 0 0 7%;
        text-align: center;
    }
    .games__bottom {
        padding-top: 40%;
    }
    .header__links::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 20%;
        width: 100%;
        background-color: white;
        transform: skewX(-30deg);
        z-index: -1;
        border-left: 4px solid #71a3d5;
        border-right: 4px solid #71a3d5;
    }
}

